.my-btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.my-btn-group > .btn {
    flex: 1 1 auto;
}

.btn-primary-active {
    background-color: white;
    color: blue;
    text-decoration: blue;
}